extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros ", class="img-fluid")
            .col-md-7 
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet distinctio quia eius at dignissimos. Ducimus molestiae ut dolorem, ipsa delectus earum ipsam, debitis facere saepe doloribus sapiente fugiat eos totam?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident accusamus debitis quibusdam, molestiae fuga exercitationem velit omnis quaerat. Ipsa, quibusdam sint porro sit architecto distinctio? A voluptatum ex incidunt culpa.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum est velit, sequi ut aliquid dolores sit doloribus facilis illum eligendi eaque libero. Libero necessitatibus, minima veritatis tempora ipsa quia consectetur.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguirdad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab labor
                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="icono seguirdad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destions 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab labor
                .col-md-4   
                    img(src="img/icono_precios.svg", alt="icono seguirdad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab labor
